<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <h3>These pets are looking for a home!</h3>
  </div>
  <div>
    <h4><a [routerLink]="['/new']">Add a pet to the shelter</a></h4>
    <table>
      <tr>
        <th>Name:</th>
        <th>Type:</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let pet of pets">
        <td>{{ pet.name}}</td>
        <td>{{ pet.type}}</td>
        <td><button class="details" (click)="details(pet._id)">Details</button><button class="edit" (click)="edit(pet._id)">Edit</button></td>
      </tr>
    </table>
  </div>
    
</body>
</html>